
.cart-container{
    width: 50%;
    margin: 150px auto 50px;
    h2{text-align: center; margin-bottom: 30px;}
    p{text-align: center;}
    ul{
        li{
            img{}
            span{}

        }
    }
    button{
        padding: 10px 30px;
        background: orangered;
        color: #fff;
        border: none;
        
    }
}