.join-container{
    width: 50%;
    margin: 150px auto 50px;
    h2{text-align: center; margin-bottom: 30px;}
    .join-form{
        position: relative;
        border: 1px solid #ddd;
        padding: 50px 50px 100px;
        display:flex;
        flex-direction: column;
            input{
               padding-top: 30px;
                border: none;
                border-bottom: 1px solid #ddd;
                &:focus{
                    outline:none;
                }
            }
        
        button{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            background: orangered;
            color: #fff;
            bottom: 20px;
            padding: 10px 30px;
        }
    }
}